<div class="home_links">
    <h2 class="home_links"><a href="/">Home</a><h2>
    <h2 class="home_links"><a href="/login">Login</a><h2>
    <h2 class="home_links"><a href="/signup">Signup</a><h2>
</div>
<h2 style="font-size:35px;">Login</h2>
<br>
<h5 class="error">Email & Password credentials are incorrect. Please try again. </h5>
<br>
<form action="/login/error" method="POST">
<p>Username: <input type="text" id="username" name="username" required></p>
<p>Password: <input type="password" id="password" name="password" required></p>
<p><input type="submit" value="Log In"></p>
</form>