<div class="home_links">
    <h2 class="home_links"><a href="/recipes">Recipes</a><h2>
    <h2 class="home_links"><a href="/users">Users</a><h2>
    <h2 class="home_links"><a href="/recipes/new">New</a><h2>
    <h2 class="home_links"><a href="/logout">Logout</a><h2>
</div>
<br>
<h2 style="font-size:35px;"><%= @user.full_name %></h2>
<br>
<h3>Recipes:</h3>
<br>
<% @recipes.each do |recipe| %>
    <p><a href=<%= "/recipes/#{recipe.id}" %>><%= recipe.name %></a></p>
<% end %>